/*General*/
*{
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}

/*Logo+Container*/
#logo{
  width: 200px;
  height: 100px;
  background-image: url(../img/logo.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 40%;
  
}

.container{
  display: inline-block;
  position: relative;
  width: 100%;
  height: 180px;
  background-image: url(../img/pattern.png);
  background-color:rgb(78, 160, 255) ;
}
/*Logo+Container*/

/*Titolo+autore*/
h1{
  margin: 5px;
  font-size: 50px;
  text-align: justify;
}

.info{
  color: rgb(195, 195, 195) ;
  margin: 5px;
  font-size: 18px;
}

.boolean{
  color: rgb(43, 173, 230);
}

.data{
  font-size: 0.75rem;
}
/*Titolo+autore*/

/*foto*/
.tim{
margin:5px;
}
.flexing{
  margin-left: 0px;
}

.descrizione{
  margin: 5px;
  display: block;
  font-size:0.75rem ;
}
/*foto*/

/*paragrafo*/
.paragrafo{
  margin-left: 5px;
  margin-top: 30px;
}

.evidenziato{
  background-color: yellow;
}
/*paragrafo*/

/*table*/
table{
  border-collapse: collapse;
  margin-left: 5px;
  margin-top: 30px;
}

thead{
  background-color:rgb(32, 169, 229) ;
  color: white;
  text-align: left;
}
th{
 width: 33%;
}
td{
 width: 33%;
}
 
.linea-colorata{
  background-color: rgb(177, 229, 242);
}
/*table*/

